<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<!-- Global variables -->
	<variable name="logDir" value="${basedir}/Logs" />
	<variable name="logDate" value="${shortdate}" />

	<targets>
		<!-- Console (for Debugging) -->
		<target xsi:type="Console" name="console" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception}" />

		<!-- General Log File -->
		<target xsi:type="File" name="appLog"
				fileName="${logDir}/app-${logDate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=Message,StackTrace}"
				archiveEvery="Day"
				maxArchiveFiles="10"
				encoding="utf-8"
				keepFileOpen="false"
				createDirs="true" />

		<!-- Error Log File -->
		<target xsi:type="File" name="errorLog"
				fileName="${logDir}/error-${logDate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=Message,StackTrace}"
				archiveEvery="Day"
				maxArchiveFiles="30"
				encoding="utf-8"
				keepFileOpen="false"
				createDirs="true" />
	</targets>

	<rules>
		<!-- Info and above to console + file -->
		<logger name="*" minlevel="Info" writeTo="console,appLog" />
		<!-- Errors and above to error log -->
		<logger name="*" minlevel="Error" writeTo="errorLog" />
	</rules>

</nlog>
